---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import WelcomeBanner from '../components/WelcomeBanner.astro';
import ProductCarousel from '../components/ProductCarousel.astro';
import FactoryOfWeek from '../components/FactoryOfWeek.astro';
import HotProducts from '../components/HotProducts.astro';
---

<Layout>
  <Header />
  <main>
    <WelcomeBanner />
    <ProductCarousel />
    <FactoryOfWeek />
    <HotProducts />
  </main>
</Layout>
